body {
    margin: 0 auto;
    padding: 0;
    width: 100%;

    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 49px;
    box-sizing: border-box;
}

html
{
    background: black;
}

.top_header {
    background-image: url(../assets/Background.png);
    background-size: cover;
    padding: 0px 8vw 15px;
}

.nav_list {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 10px 0px;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 10px;
    margin-block-end: 0;
}

nav {
    display: flex;
    text-align: center;
}

nav ul { /*entire list settings*/
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1 0 0%;
    justify-content: space-between;
    font-family:'Helvetica', 'Arial';
}

.nav_list {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 10px 0px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    background-image: url(../assets/Background.png);
    background-size: cover;
    font-size: .8em;
    padding: 0 8vw;
}

footer ul { /*entire list settings*/
    font-family:'Helvetica', 'Arial';
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 12px 0;
    list-style: none;
    font-weight: bold;
}

nav ul li { /*each list element*/
    display: inline-block;
    font-size: 1.25em;
    padding: 5px 0px;
    color: white;
}

.nav_list a {
    font-weight: bold;
}

footer ul li { /*each list element*/
    display: inline;
    font-size: 1.25em;
    padding: 0 10px;
    color: white;
}


hr { /*horizontal line*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 4px;
    border-width: 0;
    color: white;
    background-color: white;
}

.small-hr {
    margin: 0 0 1em;
}

.first_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4.5em;
    line-height: 72px;

    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 10px;

    color: #363636;
}

.bottom_nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.last_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.5em;
    line-height: 64px;

    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 0px;

    color: #363636;
}

.student {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.25em;

    margin-left: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;

    color: #363636;
}

.location {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.25em;

    position: relative;
    left: -5px;
    margin-left: auto;
    margin-block-start: 0px;
    margin-block-end: 0px;

    color: #363636;
}

.condensed_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;

    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 15px;

    color: #363636;
}

.bottom_nav_condensed {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

a {
    font-family:'Helvetica', 'Arial';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.about-blurb {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-sidebar {
    width: 30%;
    min-width: 330px;
    padding: 0;
    margin-right: 4em;
}

.about-text {
    flex: 1;
    min-width: 200px;
}

.dp {
    width: 100%;
    border-radius: 50%;
}

.skill-level {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    font-family:'Helvetica', 'Arial';
    font-size: 0.875em;
    line-height: 0.875em;
    color: #363636;
    display: inline-block;
    width: 25%;
}

.skill-name {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 0.5em;
    font-family:'Helvetica', 'Arial';
    font-size: 1em;
    line-height: 1em;
    color: #363636;
    display: inline-block;
}

.text-box {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}

.text-box b {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}

.image-box {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}

.image-caption {
    font-size: 0.75em;
    text-align: center;
    margin-top: 4px;
}

.mobile-about-line {
    height: 0px;
    margin: 1em 0 1.5em;
}

.left-picture {
    margin-right: 2em;
    float: left;
    width: 35%;
}

.right-picture {
    margin-left: 2em;
    float: right;
    width: 35%;
}

.twenty-five-per {
    width: 25%;
}

.full-width {
    position: static;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 16em;
}

.center-picture {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.twenty-per {
    width: 20%;
}

.thirty-per {
    width: 30%;
}

.forty-per {
    width: 45%;
}

.sixty-per {
    width: 60%;
}

.eighty-per {
    width: 80%;
}

.about-contact {
    border-top: 4px #363636;
    border-bottom: 4px #363636;
}

.company-name {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 1.25em;
    color: #363636;
}

.job {
    margin-bottom: 1.5em;
}

.job-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25em 0;
}

.job-title, .job-date {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 1em;
    color: #363636;
}

.job-date {
    color: #7C7777;
}

.job-description {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 0.875em;
    color: #363636;
}

a p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 1.25em;
    line-height: 1.25em;
    color: black;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 10px 0;
    font-size: 3em;
    font-family:'Helvetica', 'Arial';
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 10px 0;
    font-size: 2em;
    font-family:'Helvetica', 'Arial';
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 1.25em;
    line-height: 1.25em;
    color: #363636;
}

main {
    margin: 0 8vw;
    padding: 0;
}

.home-blurb {
    margin-bottom: 1.5em;
}

.LOGO {
    display: inline-block;
    width: 20vw;
}

.filter_header {
    background: black;
    width: 100%;
    display: inline-block;
    z-index: 2;
    position: fixed;
    padding: 0;
}

.filters {
    width: 52vw;
    margin: 0 0;
    float: right;
}

.filters ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.filters ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px 10px 0;
}

.filters ul li a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 3vmin;
    color: white;
}

/*button {*/
/*    margin-left: 5vw;!*33*!*/
/*    text-align: right;*/
/*    z-index: 4;*/
/*    background-color: black;*/
/*    text-transform: uppercase;*/
/*    font-family: 'Cabin', sans-serif;*/
/*    font-weight: bold;*/
/*    color: #6ab5ff;*/
/*    border: none;*/
/*    font-size: 5vmin;*/
/*}*/

.filters ul li a:hover, .filters ul li a:active {
    color: #6ab5ff;
}

.spacer {
    display: block;
    height: 15vh;
}

.cards_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
}

.card {
    width: calc((79.8vw - 49.566px) / 3);
    min-width: 190px;
    height: calc(0.6666*(26.6vw - 16.522px) + 44.987px);
    margin: 0 1% 2%;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 651px) and (max-width: 749px) {
    .card {
        width: calc(39.9vw - 18.783px);
        height: calc(0.6666*(39.9vw - 18.783px) + 44.987px);
    }
}

@media (max-width: 650px) {
    .card {
        height: calc(0.6666*(84vw - 12.28px) + 44.987px);
    }
}

.card:hover {
    border: 1px solid #363636;
}

figcaption {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 15px;
}

.card h3 {
    margin-block-start: 3px;
    margin-block-end: 3px;
    font-family:'Helvetica', 'Arial';
    font-size: 1.25em;
    line-height: 1.25em;
    color: white;
}

.date {
    font-size: 1em;
    text-align: right;
    color: white;
}

/*Modal*/
.portfolio-modal {
    position: fixed;
    z-index: 10;
    top: 2em;
    bottom: 0;
    left: 2em;
    right: 2em;
    background: white;
    box-shadow: 0px 0px 30px 2em rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: default;
    display: none;
}
.portfolio-modal.is-open {
    position: fixed;
    z-index: 10;
    top: 2em;
    bottom: 0;
    left: 12em;
    right: 12em;
    background: white;
    box-shadow: 0px 0px 30px 2em rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: default;
    display: block;
}

.portfolio-header:nth-of-type(1) {
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
}

.portfolio-title-box {
    background: rgba(#54a4db, 0.75);
    padding: 3em 0 3em 3em;
    color: white;
    width: 70%;
}

.portfolio-title {
    font-size: 3em;
    white-space: normal;
    overflow: auto;
    color: black;
}

.portfolio-subtitle {
    font-size: 2em;
    white-space: normal;
    overflow: auto;
}

.portfolio-content {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2em;
    white-space: normal;
    overflow: auto;
}

.text-box:first-child {
    margin-top: 1em;
}

.multiple-pictures:first-child {
    margin-top: 1em;
}

.portfolio-full-width {
    width: 100vw;
    max-width: initial;
    margin: 0 calc(50% - 50vw);
    object-fit: cover;
}

.multiple-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal-close {
    background: transparent;
    position: fixed;
    cursor: pointer;
    left: calc(14.5em + 0.375vw);
    top: calc(3em + 0.375vw);
    border: 0;
    scale: 80%;
}

.close-svg {
    width: 3vw;
    height: auto;
    max-width: 2em;
    min-width: 1.5em;
}

.portfolio-link {
    z-index: 10;
}

button:focus {
    outline: none;
}
/* MOBILE */
@media (max-width: 1043px) {
    .mobile-about-line {
        height: 4px;
    }
    .portfolio-modal.is-open {
        left: 2em;
        right: 2em;
    }
    .modal-close {
        left: calc(2em + 0.375vw);
        top: calc(2.375em + 0.375vw);
    }
}

@media (max-width: 900px) {
    .mobile-about-line {
        height: 4px;
    }
    .text-box {
        display: inline-block;
    }
    .image-box {
        display: inline-block;
    }
    .left-picture {
        width: 100%;
        height: auto;
        margin: 0 0 1em;
    }
    .right-picture {
        width: 100%;
        height: auto;
        margin: 0 0 1em;
    }
}

@media (max-width: 720px) {
    .typewriter-name {
        font-size: 1em;
    }
    .multiple-pictures {
        flex-direction: column;
    }
    .center-picture {
        width: 100%;
    }
    .exception {
        margin-bottom: 1em;
    }
}

@media (max-width: 650px) {
    .first_name {
        font-size: 3em;
        line-height: 48px;
        margin-bottom: 2px;
    }
    .last_name {
        font-size: 3em;
        line-height: 40px;
    }
    .student {
        font-size: 13px;
    }
    .location {
        display: none;
    }
    nav ul li {
        font-size: 1em;
    }
    footer ul li {
        display: block;
        width: 100%;
        text-align: center;
    }
    p {
        font-size: 1em;
    }
    .filters ul li {
        margin: 10px 0;
        display: block;
        width: 84vw;
        text-align: center;
    }
    .card {
        flex-grow: 1;
        width: 100%;
    }
    .about-text {
        min-width: 160px;
    }
    a p {
        font-size: 1em;
    }
    .portfolio-title {
        font-size: 1.5em;
    }
    .portfolio-subtitle {
        font-size: 1em;
    }
    .portfolio-title-box {
        padding: 1em 0 1em 1.5em;
    }
    body {
        padding-bottom: 91px;
    }
}

@media (max-width: 420px) {
    .skill-level {
        font-size: 0.5em;
    }
    .about-sidebar {
        margin-right: 0;
        min-width: 160px;
        width: 100%;
    }
    .job-title, .job-date {
        font-size: 0.75em;
    }
}