
html
{
    background: black;
}

.LOGO {
    position: absolute;
    /*allows clicking through the div*/
    pointer-events: none;
    /*width: 151.875vw;*/
    /*height: 109.35vw;*/
    margin-top: 0px; /* Negative half of height. */
    margin-left: 0px; /* Negative half of width. */
    z-index: 2;
}

.construction-links {
    position: absolute;
    top: 20vw;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color: white;
}

a:hover {
    color: #6ab5ff;
}

.big-chip {
    position: absolute;
    left: 2vw;
    top: 10vw;
    /*for debug*/
    /*border: 3px solid red;*/
}

.calculator {
    position: absolute;
    left: 2vw;
    top: 15vw;
    /*for debug*/
    /*border: 3px solid red;*/
}

.raytracer {
    position: absolute;
    left: 2vw;
    top: 20vw;
    /*for debug*/
    /*border: 3px solid red;*/
}

.bracket {
    position: absolute;
    left: 2vw;
    top: 25vw;
    /*for debug*/
    /*border: 3px solid red;*/
}
