
html
{
    background: black;
}

.LOGO {
    display: inline-block;
    width: 20vw;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color: white;
}

a:hover {
    color: #6ab5ff;
}

.big-chip {
    position: absolute;
    left: 2vw;
    top: 10vw;
    /*for debug*/
    /*border: 3px solid red;*/
}

.calculator {
    position: absolute;
    left: 2vw;
    top: 15vw;
    /*for debug*/
    /*border: 3px solid red;*/
}

.raytracer {
    position: absolute;
    left: 2vw;
    top: 20vw;
    /*for debug*/
    /*border: 3px solid red;*/
}

.bracket {
    position: absolute;
    left: 2vw;
    top: 25vw;
    /*for debug*/
    /*border: 3px solid red;*/
}
