// Add your own CSS here!

:root {
  --light: #000000;
  --dark: #141021;
  --secondary: #6ab5ff;
  --tertiary: #fff354;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: rgb(255, 241, 31);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6ab5ff !important;
  --visited: #ffef21 !important;
  --tertiary: #fff417 !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}



